@{
    Page.Title = "About";
    Layout = "~/_Layout.cshtml";
}

<div>
    <header class="jumbotron">
        <h2>About</h2>
    </header>
    <p>Instructor: Don Welch</p>
    <p>Email: dwelch@nait.ca</p>
    <p>Phone: 780.378.5334</p>
</div>
@section foot
{
    Copyright: This is my stuff, don't touch it.
}